<!DOCTYPE html>
<html lang="pt-br">

  <%- include("../layouts/head", { 
      title: "Previsão Numérica do Tempo", 
      description: "Página da Previsão Numérica do Tempo", 
      author: "Mario A. Sesso Junior (sessojunior.gmail.com)"
    }); %>

  <body>
    <%- include("../layouts/aside", { active: "previsao" }); %>

    <%- include("../layouts/header"); %>

    <%- include("../partials/home", { model: model }); %>

    <%- include("../layouts/footer"); %>
  </body>

</html>